//Photo by Chris Ried on Unsplash
//Photo by Émile Perron on Unsplash

// COLORS
$color-white: #FFFFFF;
$color-black: #000000;

$color-fire-brick: #AC1010;
$color-fire-brick-light-1: #D86969;
$color-fire-brick-light-2: #CF2828;
$color-fire-brick-dark-1: #8A0000;
$color-fire-brick-dark-2: #5F0000;

$color-saddle-brown: #7E1223;
$color-saddle-brown-light-1: #A85965;
$color-saddle-brown-light-2: #9B3142;
$color-saddle-brown-dark-1: #58000E;
$color-saddle-brown-dark-2: #340008;

$color-midnight-blue: #1C3C7C;
$color-midnight-blue-light-1: #60749D;
$color-midnight-blue-light-2: #33518C;
$color-midnight-blue-dark-1: #0E2B66;
$color-midnight-blue-dark-2: #051C4A;

$color-slate-grey: #7586AE;
$color-slate-grey-light-1: #C2C7D1;
$color-slate-grey-light-2: #AAB5CD;
$color-slate-grey-dark-1: #4E6393;
$color-slate-grey-dark-2: #2F4577;

$color-grey: #C7C7C7;
$color-grey-light-1: #F6F6F6;
$color-grey-dark-1: #9C9C9C;
$color-grey-dark-2: #6E6C6C;

$color-amber: #AC7810;
$color-amber-light-1: #D8B369;
$color-amber-light-2: #CF9728;
$color-amber-dark-1: #8A5C00;
$color-amber-dark-2: #5F4000;

$color-green: #0D8A0D;
$color-green-light-1: #54AD54;
$color-green-light-2: #20A520;
$color-green-dark-1: #006E00;
$color-green-dark-2: #004C00;
