<form class="contact-form">
  <div class="contact-form__group">
    <label class="contact-form__element contact-form__label" for="name">Name</label>
    <input class="contact-form__element contact-form__input" id="name" type="text">
  </div>
  <div class="contact-form__group">
    <label class="contact-form__element contact-form__label" for="email">E-Mail</label>
    <input class="contact-form__element contact-form__input" id="email" type="email">
  </div>
  <div class="contact-form__group">
    <label class="contact-form__element contact-form__label" for="message">Message</label>
    <textarea class="contact-form__element contact-form__input" id="message" cols="30"
              rows="10"></textarea>
  </div>
  <input class="contact-form__element contact-form__input contact-form__btn" type="submit" value="Contact Me">
</form>
 
