@import "~src/assets/sass/utils/main-utils";

:host {
  padding: 1rem;
}

.contact-form {
  position: relative;
  margin: 3rem auto;
  width: 60rem;
  border: 1px solid $color-grey-dark-1;
  padding: 3rem 5rem;
  background-color: $color-white;
  box-shadow: 5px 3px 3px rgba($color-black, 0.3);
  @include respond(phone) {
    width: auto;
    margin: 3rem;
  }

  &__element {
    display: block;
  }
  &__group {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__error-group {
    display: inline-block;
    color: red;
    margin: 0 0.5rem;
  }

  &__error {
    font-size: 1.2rem;
  }

  &__label {
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.6rem;
  }
  &__input {
    &::placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
      color: $color-grey-dark-1;
    }

    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 1.5rem;
    background-color: $color-white;
    color: $color-black;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border: none;
    border-bottom: 5px solid $color-grey-dark-1;
    resize: none;
    outline: none;
    transition: all 0.3s;
  }

  .ng-valid[required], .ng-valid.required {

    border-bottom: 5px solid $color-green;
  }

  .ng-invalid:not(.ng-untouched) {
    border-bottom: 5px solid $color-fire-brick;

  }

  &__btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    background-color: $color-white;
    color: $color-green;
    cursor: pointer;
    width: 12rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    margin: auto;
    border: solid 1px $color-grey-dark-1;
    transition: all 0.5s;
    &:hover {
      border: solid 1px transparent;
      color: $color-white;
      background-color: $color-green;
    }
  }

}

.character-counter {
  line-height: 1;
  font-size: 1.4rem;
  position: absolute;
  right: 1.3rem;
  bottom: 0.75rem;
  z-index: 20;
  color: $color-grey-dark-2;
}

mat-progress-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
