*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is
  // 1rem = 62.5% = 10/16
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

app-root {
  display: flex;

}
