body {
  font-family: 'Raleway', sans-serif;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 600;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
}

.tooltip {
  font-size: 1.5rem;
}
