.u-text-center {
  text-align: center;
}

.u-d-inline-block {
  display: inline-block;
}

.u-d-flex {
  display: flex;
}

.u-flex-direction-col {
  flex-direction: column;
}

.u-justify-content-center {
  justify-content: center;
}
