<div class="section__container">
  <h1>I love learning new things.</h1>
  <p>
    I want my skillset to reflect that. <br>
    For now, it consists of mostly web technologies but I'm working on expanding it. <br>
    Mastering one thing at a time.
  </p>
</div>
<div class="experience-content" *ngFor="let item of experience">
  <div class="section__header--secondary experience-content__heading">
    <h2 class=" heading-secondary">{{item.title}}</h2>
  </div>
  <div class="experience-content__container">
    <div class="experience-content__pin" [ngStyle]="{cursor: i.url ? 'pointer' : 'default'}" (click)="Navigate(i.url)"
         matTooltip="{{i.description}}"
         [matTooltipPosition]="'after'"
         [matTooltipClass]="'tooltip'"
         *ngFor="let i of item.areas">
      <img class="experience-content__pin-img" [src]="i.logo" [alt]="i.name">
      <h3 class="experience-content__pin-text">{{i.name}}</h3>
    </div>
  </div>
</div>
