@import "../../../../sass/utils/main-utils";

:host {
  display: block;
  flex: 1;
}

.main {
  height: 100vh;

  @include respond(tab-port) {
    height: $main-content-height-tab-port;
  }
  @include respond(phone) {
    height: $main-content-height-phone;
  }
}
