<div class="section__container">
  <h1 class="u-text-center">Hello, I'm Phabiann.</h1><br>
  <p>
    I'm <strong>passionate</strong> about technology. It's my passion. From hardware to programming, I'm interested and
    keen to learn about all of it.
    I chose <strong>programming</strong> as my primary field for the constant <strong>challenge
    of solving real-world problems</strong>. Translating <strong>ideas</strong> and <strong>concepts</strong> into
    intuitive and powerful programs. I find it extremely satisfying to work and see a great project come together.
  </p>
  <p>
    I'm looking for any opportunity to increase my knowledge concerning programming and computers.
    It is my <strong>honest hope and desire</strong> to find a company that'll provide such opportunities
    so I in turn may become a <strong>great asset</strong> to their organisation.
  </p>
</div>
