.section {
  padding: 4rem;
  height: 100%;
  overflow: auto;
  margin: auto;

  @include respond(tab-port) {
    padding: 0;
  }

  &__header {

    &--primary {
      color: $color-white;
      padding: 2rem;
    }

    &--secondary {
      padding: 2rem;
    }

    &--about {
      background-color: $color-midnight-blue;
    }
    &--experience {
      background-color: $color-fire-brick-dark-1;
    }
    &--projects {
      background-color: $color-amber-light-2;
    }

    &--contact {
      background-color: $color-green;
    }
  }

  &__content {
    margin: 3rem 2rem;
  }

  &__background {
    &--about {
      background: url('src/assets/images/backgrounds/Phabiann_7_copy_2_optimized.png') center center;
      background-size: cover;
    }
    &--experience {
      background: url('src/assets/images/backgrounds/emile-perron-190221-unsplash_optimized.jpg') right center;
      background-size: cover;

    }
    &--projects {
      background: url('src/assets/images/backgrounds/marvin-meyer-571072-unsplash_optimized.jpg') center center;
      background-size: cover;
    }
    &--contact {
      background: url('src/assets/images/backgrounds/rawpixel-665368-unsplash_optimized.jpg') center center;
      background-size: cover;
    }
  }

  &__overlay {
    min-height: 100%;
    background-color: rgba($color-grey-dark-1, 0.7);

    @include respond(tab-port) {
      padding-bottom: 1rem;
    }
  }
  &__container {
    margin: 3rem;
    line-height: 1.7;
    padding: 2.5rem;
    color: darken($color-grey-dark-2, 10);
    background-color: $color-white;
    box-shadow: 5px 3px 3px rgba($color-black, 0.3);
    @include respond(phone) {
      box-shadow: none;

    }

    & h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1.6rem;
      text-align: center;
    }

    & p {
      font-size: 2rem;

      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }
  }
}
