<nav class="navigation">
  <div class="navigation__logo-box">
    <img
      src="../../../assets/images/logo/Phabiann_8_flattened_1_optimized.png"
      alt="Red Mountain Logo" class="navigation__logo">
    <div>
      <h1 class="navigation__heading navigation__heading--title">Phabiann-Ross De Carvalho</h1>
      <h2 class="navigation__heading navigation__heading--subtitle">Full-Stack Web Developer</h2>
      <div class="u-text-center">
        <a class="navigation__link navigation__link--github" href="https://github.com/Red-Mountain-Dev">
          <fa-icon [icon]="githubIcon"></fa-icon>
        </a>
        <a class="navigation__link navigation__link--facebook" href="https://github.com/Red-Mountain-Dev">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
        <a class="navigation__link navigation__link--linkedIn" href="https://github.com/Red-Mountain-Dev">
          <fa-icon [icon]="linkedInIcon"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <ul class="navigation__list">
    <li class="navigation__list-item navigation__list-item-welcome" routerLink="/"
        routerLinkActive="navigation__list-item-welcome--active"
        [routerLinkActiveOptions]="routerOptions">About
    </li>
    <li class="navigation__list-item navigation__list-item-experience"
        routerLinkActive="navigation__list-item-experience--active" routerLink="/experience">Experience
    </li>
    <li class="navigation__list-item navigation__list-item-projects"
        routerLinkActive="navigation__list-item-projects--active" routerLink="/projects">Projects
    </li>
    <li class="navigation__list-item navigation__list-item-contact"
        routerLinkActive="navigation__list-item-contact--active" routerLink="/contact">Contact me
    </li>
  </ul>
</nav>
