@import "../../../assets/sass/utils/main-utils";

:host {
  width: 20rem;
  height: 100vh;
  display: block;
  align-items: center;
  background-color: $color-white;
  border-right: 1px solid $color-grey;
}

.navigation {
  width: 100%;

  &__logo-box {
    padding: 2rem;
    background-color: $color-grey-light-1;
    border-bottom: 1px solid $color-grey;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    padding: 1rem 3rem;
    font-size: 2rem;
    color: $color-midnight-blue;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, $color-midnight-blue 50%);
    background-size: 200%;
    transition: all .5s;

    &--active {
      color: $color-fire-brick;
    }

    &:hover {
      background-position: -100%;
      color: $color-white;
    }
  }
}
